<section class="h-full p-3 sm:p-5 flex justify-center items-center">
  <div class="mx-auto px-4 lg:px-12 w-full">
    <h1 class="font-semibold text-white text-3xl py-4">{{ tituloPagina }}</h1>

    <div class="bg-gray-800relative shadow-lg rounded-lg overflow-hidden">
      <div class="lg:max-h-[600px] overflow-y-auto">
        <table class="w-full text-sm text-left text-gray-500 table-fixed">
          <thead
            class="text-xs text-gray-100 uppercase bg-gray-800 sticky top-0 z-10"
          >
            <tr>
              <th scope="col" class="px-4 py-3 text-center">Título tarea</th>
              <th scope="col" class="px-4 py-3 text-center">Descripción</th>
              <th scope="col" class="px-4 py-3 text-center">Prioridad</th>
              <th scope="col" class="px-4 py-3 text-center">Acciones</th>
            </tr>
          </thead>

          <tbody class="bg-white">
            <tr class="border-b dark:border-gray-700">
              <th
                scope="row"
                class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white"
              >
                Título tarea
              </th>
              <td class="px-4 py-3">Descripción tarea</td>
              <td class="px-4 py-3 text-center">Alta</td>
              <td class="px-4 py-3 flex justify-center">
                <button
                  type="button"
                  class="bg-green-500 text-white p-2 mr-2 rounded"
                >
                  <i class="fa-solid fa-check"></i> Finalizar
                </button>
                <button
                  type="button"
                  class="bg-blue-600 text-white p-2 mr-2 rounded"
                >
                  <i class="fa-solid fa-pencil"></i> Editar
                </button>
                <button type="button" class="bg-red-600 text-white p-2 rounded">
                  <i class="fa-solid fa-trash"></i> Borrar
                </button>
              </td>
            </tr>

            <tr class="border-b dark:border-gray-700">
              <th
                scope="row"
                class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white"
              >
                Título tarea
              </th>
              <td class="px-4 py-3">Descripción tarea</td>
              <td class="px-4 py-3 text-center">Alta</td>
              <td class="px-4 py-3 flex justify-center">
                <button
                  type="button"
                  class="bg-green-500 text-white p-2 mr-2 rounded"
                >
                  <i class="fa-solid fa-check"></i> Finalizar
                </button>
                <button
                  type="button"
                  class="bg-blue-600 text-white p-2 mr-2 rounded"
                >
                  <i class="fa-solid fa-pencil"></i> Editar
                </button>
                <button type="button" class="bg-red-600 text-white p-2 rounded">
                  <i class="fa-solid fa-trash"></i> Borrar
                </button>
              </td>
            </tr>

            <tr class="border-b dark:border-gray-700">
              <th
                scope="row"
                class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white"
              >
                Título tarea
              </th>
              <td class="px-4 py-3">Descripción tarea</td>
              <td class="px-4 py-3 text-center">Alta</td>
              <td class="px-4 py-3 flex justify-center">
                <button
                  type="button"
                  class="bg-green-500 text-white p-2 mr-2 rounded"
                >
                  <i class="fa-solid fa-check"></i> Finalizar
                </button>
                <button
                  type="button"
                  class="bg-blue-600 text-white p-2 mr-2 rounded"
                >
                  <i class="fa-solid fa-pencil"></i> Editar
                </button>
                <button type="button" class="bg-red-600 text-white p-2 rounded">
                  <i class="fa-solid fa-trash"></i> Borrar
                </button>
              </td>
            </tr>

            <tr class="border-b dark:border-gray-700">
              <th
                scope="row"
                class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white"
              >
                Título tarea
              </th>
              <td class="px-4 py-3">Descripción tarea</td>
              <td class="px-4 py-3 text-center">Alta</td>
              <td class="px-4 py-3 flex justify-center">
                <button
                  type="button"
                  class="bg-green-500 text-white p-2 mr-2 rounded"
                >
                  <i class="fa-solid fa-check"></i> Finalizar
                </button>
                <button
                  type="button"
                  class="bg-blue-600 text-white p-2 mr-2 rounded"
                >
                  <i class="fa-solid fa-pencil"></i> Editar
                </button>
                <button type="button" class="bg-red-600 text-white p-2 rounded">
                  <i class="fa-solid fa-trash"></i> Borrar
                </button>
              </td>
            </tr>

            <tr class="border-b dark:border-gray-700">
              <th
                scope="row"
                class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white"
              >
                Título tarea
              </th>
              <td class="px-4 py-3">Descripción tarea</td>
              <td class="px-4 py-3 text-center">Alta</td>
              <td class="px-4 py-3 flex justify-center">
                <button
                  type="button"
                  class="bg-green-500 text-white p-2 mr-2 rounded"
                >
                  <i class="fa-solid fa-check"></i> Finalizar
                </button>
                <button
                  type="button"
                  class="bg-blue-600 text-white p-2 mr-2 rounded"
                >
                  <i class="fa-solid fa-pencil"></i> Editar
                </button>
                <button type="button" class="bg-red-600 text-white p-2 rounded">
                  <i class="fa-solid fa-trash"></i> Borrar
                </button>
              </td>
            </tr>

            <tr class="border-b dark:border-gray-700">
              <th
                scope="row"
                class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white"
              >
                Título tarea
              </th>
              <td class="px-4 py-3">Descripción tarea</td>
              <td class="px-4 py-3 text-center">Alta</td>
              <td class="px-4 py-3 flex justify-center">
                <button
                  type="button"
                  class="bg-green-500 text-white p-2 mr-2 rounded"
                >
                  <i class="fa-solid fa-check"></i> Finalizar
                </button>
                <button
                  type="button"
                  class="bg-blue-600 text-white p-2 mr-2 rounded"
                >
                  <i class="fa-solid fa-pencil"></i> Editar
                </button>
                <button type="button" class="bg-red-600 text-white p-2 rounded">
                  <i class="fa-solid fa-trash"></i> Borrar
                </button>
              </td>
            </tr>

            <tr class="border-b dark:border-gray-700">
              <th
                scope="row"
                class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white"
              >
                Título tarea
              </th>
              <td class="px-4 py-3">Descripción tarea</td>
              <td class="px-4 py-3 text-center">Alta</td>
              <td class="px-4 py-3 flex justify-center">
                <button
                  type="button"
                  class="bg-green-500 text-white p-2 mr-2 rounded"
                >
                  <i class="fa-solid fa-check"></i> Finalizar
                </button>
                <button
                  type="button"
                  class="bg-blue-600 text-white p-2 mr-2 rounded"
                >
                  <i class="fa-solid fa-pencil"></i> Editar
                </button>
                <button type="button" class="bg-red-600 text-white p-2 rounded">
                  <i class="fa-solid fa-trash"></i> Borrar
                </button>
              </td>
            </tr>

            <tr class="border-b dark:border-gray-700">
              <th
                scope="row"
                class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white"
              >
                Título tarea
              </th>
              <td class="px-4 py-3">Descripción tarea</td>
              <td class="px-4 py-3 text-center">Alta</td>
              <td class="px-4 py-3 flex justify-center">
                <button
                  type="button"
                  class="bg-green-500 text-white p-2 mr-2 rounded"
                >
                  <i class="fa-solid fa-check"></i> Finalizar
                </button>
                <button
                  type="button"
                  class="bg-blue-600 text-white p-2 mr-2 rounded"
                >
                  <i class="fa-solid fa-pencil"></i> Editar
                </button>
                <button type="button" class="bg-red-600 text-white p-2 rounded">
                  <i class="fa-solid fa-trash"></i> Borrar
                </button>
              </td>
            </tr>
            <!-- Repite filas según sea necesario -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
