<footer class="text-gray-400 bg-gray-900 body-font ">

    <div class="container px-5 py-4 mx-auto flex items-center sm:flex-row flex-col flex-wrap">

      <!-- <div class="flex title-font font-medium items-center md:justify-start justify-center flex-wrap">
        <img src="assets/logoPasosUrbanosLetrasBlancas.png" alt="Logo pasos urbanos" class="max-h-[160px]">
      </div> -->
      <p class="text-center w-full">Alumnos:</p>
      <p class="text-center w-full">Coco Matías - Victoria Gambaro - ALUMNO - ALUMNO </p>

    </div>
  </footer>
